*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.container{
    display: flex;
    align-items: center;
}

.weather-input{
    width: 30%;
    position: fixed;
    inset:0;
    background: rgb(116,204,244);
    padding: 1rem 2.5rem ;
}

.weatherIcon{
    background-position: 50%  !important;
    background-repeat: no-repeat !important;
    background-size: contain;
    display: block;
    height:25%;
    margin: 2rem auto;
}

.input-group{
    position: relative; 
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.input-group input{
    text-transform: capitalize;
    padding: 1rem;
    font-size: 15px;
    border-radius: 6px;
    width:100%;
    outline: none;
    border: none;
}

.input-group .converter{
    position: absolute;
    right: 45px;
    border: none;
    outline: none;
    font-size: 18px;
} 

.input-group .fa-search{
    position: absolute;
    right:15px;
    color:rgb(0, 0, 0);
    cursor: pointer;
    font-size: 22px;   
}

.weather-output
{
    width:75%;
     /* background-size: 180px;  */
    position:fixed;
    inset:0;
    margin-left: 30%;
    padding: 2rem;
    background: rgb(219, 222, 222);
    overflow: auto;
}


.weather-input .feelsLike,
.weather-input .description,
.weather-input .date,
.weather-input .city{
    padding:20px 0;
}

.temperature {
    font-size: 5rem;
    text-align: center;
    display: flex;
    font-weight: 300;
}

.Highlights{
    display: grid;
    grid-template-columns: repeat(3,350px);
    grid-auto-flow: row;
    row-gap: 1rem;
    column-gap: 10px;
}

.Highlights div{
    height: 200px;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(116,204,244);
    border-radius: 20px;
    padding: 1rem;
}

.Highlights i{
    font-size: 45px;
}

.sun span{
    align-items: center;
    display: flex;
    gap:10px;
}

